spring:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://keycloak.studyhub.local/realms/studyhub

logging:
  level:
    root: INFO
    com.studyhub.user_service: DEBUG
    org.springframework.security: INFO

eureka:
  client:
    serviceUrl:
      defaultZone:  http://eureka:eureka@localhost:8761/eureka/