server:
  port: 8081

spring:
  application:
    name: user-service
  
  profiles:
    active: prod

  datasource:
    url: jdbc:postgresql://localhost:5432/user_service_db
    username: user
    password: password
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/studyhub
          jwk-set-uri: http://localhost:8080/realms/studyhub/protocol/openid-connect/certs

logging:
  level:
    com.studyhub.user_service: DEBUG
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always
eureka:
  client:
    serviceUrl:
      defaultZone:  http://eureka:eureka@localhost:8761/eureka/