server:
  port: 8082

spring:
  application:
    name: auth-service
  profiles:
    active: dev
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/studyhub

---
spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: jdbc:h2:mem:authdb
    driverClassName: org.h2.Driver
    username: sa
    password: 
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: create-drop
    show-sql: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

logging:
  level:
    com.studyhub: DEBUG
    org.springframework.security: DEBUG
    org.springframework.security.oauth2: DEBUG
    org.springframework.web.client: DEBUG

eureka:
  client:
    serviceUrl:
      defaultZone:  http://eureka:eureka@localhost:8761/eureka/

keycloak:
  server-url: http://localhost:8080
  realm: master
  admin-user: admin
  admin-password: admin
  client-id: studyhub-backend
  client-secret: KKFSCy2xFvZ2CcPkoeKbGFpSmxNy6LYR