server:
  port: 8086

spring:
  application:
    name: ai-service
  profiles:
    active: dev

---
spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: jdbc:postgresql://localhost:5434/ai_service_db
    username: user
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
  ai:
    chat:
      client:
        enabled: true
    google:
      genai:
        chat:
          options:
            model: gemini-2.5-flash
            #thinking-level: LOW
        api-key: AIzaSyD5CVvDDoXWg7eM4TybqRsT-fy650LRMQw
        embedding:
          api-key: AIzaSyD5CVvDDoXWg7eM4TybqRsT-fy650LRMQw
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

logging:
  level:
    com.studyhub: DEBUG

eureka:
  client:
    service-url:
      defaultZone:  http://eureka:eureka@localhost:8761/eureka/
