apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    io.kompose.service: postgres-chat-data
  name: postgres-chat-data
  namespace: studyhub-dev
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Mi
