server:
  port: 8083

---
spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/chat_service_db
    username: user
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://keycloak.studyhub.local/realms/studyhub
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.amqp.RabbitAutoConfiguration
  kafka:
    bootstrap-servers: localhost:9094

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

logging:
  level:
    com.studyhub: DEBUG
    org.springframework.web.socket: DEBUG
    org.springframework.messaging: DEBUG

eureka:
  client:
    serviceUrl:
      defaultZone:  http://eureka:eureka@localhost:8761/eureka/